<header>
  <div class="header-page">
    <div class="logo">
      <img
        src="assets/logo/7660083.png"
        alt="vendorStore"
        width="49"
        height="40"
      />
    </div>
    <div class="tabs">
      <ul>
        <li>
          <a routerLink="home" roterLinkActive="active">Home</a>
        </li>
        <li>
          <a href="">Gallery</a>
        </li>
        <li>
          <a href="">About</a>
        </li>
        <li>
          <a routerLink="/profile">Profile</a>
        </li>
      </ul>
    </div>
    <div class="auth">
      <ul>
        <li>
          <a
            href=""
            class="login"
            style="color: green"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalLogin"
            >Login</a
          >
        </li>
        <li>
          <a href="" class="singup" style="color: blue" data-bs-toggle="modal"
          data-bs-target="#exampleModalSing">SignUp</a>
        </li>
        <li>
          <a href="" class="logout" style="color: red">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!--Login Modal -->
<div
  class="modal fade"
  id="exampleModalLogin"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Login Here</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="mb-3">
              <label class="form-label">Email Address</label>
              <input type="email" class="form-control" >
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control">
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>
<!--Registration Modal -->
<div
  class="modal fade"
  id="exampleModalSing"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registration Form</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm" >
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <input type="text" class="form-control" formControlName="name" >
                      <!-- <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
                        <small *ngIf="userForm.get('name')?.errors?.['required']">Name is required.</small>
                      </div> -->
                      <div class="alert alert-danger" *ngIf="controls['name'].invalid && controls['name'].touched" style="margin-top:10px">
                        <small *ngIf="controls['name'].errors?.['required']">Name is required.</small>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label">UserName</label>
                        <input type="text" class="form-control" formControlName="username">
                        <div class="alert alert-danger" *ngIf="controls['username'].invalid && controls['username'].touched" style="margin-top:10px">
                          <small *ngIf="controls['username'].errors?.['required']">UserName is required.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Email Address</label>
                <input type="email" class="form-control" formControlName="email">
                <div class="alert alert-danger" *ngIf="controls['email'].invalid && controls['email'].touched" style="margin-top:10px">
                  <small *ngIf="controls['email'].errors?.['required']">Email is required.</small>
                  <small *ngIf="controls['email'].errors?.['pattern']">Enter a valid email address!</small>
                </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password">
              <div class="alert alert-danger" *ngIf="controls['password'].invalid && controls['password'].touched" style="margin-top:10px">
                <small *ngIf="controls['password'].errors?.['required']">Password is required.</small>
                <small *ngIf="controls['password'].errors?.['minLength']">Password must be at least 8 characters.</small>
                <!-- <small *ngIf="controls['password'].errors?.['maxLength']">Password is required.</small> -->
                <small *ngIf="controls['password'].errors?.['pattern']">Password must contain at least one lowercase letter.</small>
                <small *ngIf="controls['password'].errors?.['pattern']">Password must contain at least one uppercase letter.</small>
                <small *ngIf="controls['password'].errors?.['pattern']">Password must contain at least one numbers number.</small>
                <small *ngIf="controls['password'].errors?.['pattern']">Password must contain at least one numbers number.</small>
                <small *ngIf="controls['password'].errors?.['pattern']">Password must contain at least one special characters.</small>
              </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Website</label>
                <input type="text" class="form-control" formControlName="website">
                <div class="alert alert-danger" *ngIf="controls['website'].invalid && controls['website'].touched" style="margin-top:10px">
                  <small *ngIf="controls['website'].errors?.['required']">Website is required.</small>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label">Phone</label>
                  <input type="number" class="form-control" formControlName="phone">
                  <div class="alert alert-danger" *ngIf="controls['phone'].invalid && controls['phone'].touched" style="margin-top:10px">
                    <small *ngIf="controls['phone'].errors?.['required']">Phone is required.</small>
                  </div>
              </div>
              </div>
              <div class="col-md-6">
                  <div class="mb-3">
                      <label class="form-label">Role</label>
                      <input type="text" class="form-control" formControlName="role">
                      <div class="alert alert-danger" *ngIf="controls['role'].invalid && controls['role'].touched" style="margin-top:10px">
                        <small *ngIf="controls['role'].errors?.['required']">Role is required.</small>
                      </div>
                  </div>
              </div>
          </div>
           
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn btn-primary" (click)="registration(userForm.value)">Registration</button>
            </div>
          </form>
      </div>
      
    </div>
  </div>
</div>
